<section class="jumbotron text-xs-center">
  <div class="row">
    <figure class="figure">
      <%= image_tag('suwon-worldcup-field.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.07 @수원 월드컵 경기장</figcaption>
    </figure>
  </div>
  <p/>

  <div class="row">
    <figure class="figure">
      <%= image_tag('woodo.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.03 @우도</figcaption>
    </figure>
  </div>
  <p/>

  <div class="row">
    <figure class="figure">
      <%= image_tag('singapore-flyer.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2015.12 @싱가포르</figcaption>
    </figure>
  </div>
  <p/>

  <div class="row">
    <figure class="figure">
      <%= image_tag('singapore-haji_rane.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.12 @싱가포르</figcaption>
    </figure>
  </div>
  <p/>

  <div class="row">
    <figure class="figure">
      <%= image_tag('sungsu.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.09 @성수동</figcaption>
    </figure>
  </div>
  <p/>

  <div class="row">
    <figure class="figure">
      <%= image_tag('chunchun.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.05 @춘천</figcaption>
    </figure>
  </div>
  <p/>


  <div class="row">
    <figure class="figure">
      <%= image_tag('wedding-tour.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.08 @예식장 투어</figcaption>
    </figure>
  </div>
  <p/>

  <div class="row">
    <figure class="figure">
      <%= image_tag('kakao-friends-store.jpg', class: 'full-width-img') %>
      <figcaption class="figure-caption text-xs-left">2016.09 @카카오프렌즈 플래그십 스토어</figcaption>
    </figure>
  </div>
</section>
