<div class="album text-muted">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('suwon-worldcup-field.jpg', class: 'img-thumbnail img-fluid') %>
          <figcaption class="figure-caption text-xs-right">수원 월드컵 경기장에서</figcaption>
        </figure>
      </div>
      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('woodo.jpg', class: 'img-thumbnail img-fluid') %>
          <figcaption class="figure-caption text-xs-right">오토바이!</figcaption>
        </figure>
      </div>

      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('singapore-flyer.jpg', class: 'figure-img img-fluid img-thumbnail') %>
          <figcaption class="figure-caption text-xs-right">싱가폴의 대전차 플라이어에서</figcaption>
        </figure>
      </div>

    </div>

    <div class="row">
      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('sungsu.jpg', class: 'figure-img img-fluid img-thumbnail') %>
          <figcaption class="figure-caption text-xs-right">성수동의 핫플레이스를 탐방하러 감.</figcaption>
        </figure>
      </div>

      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('chunchun.jpg', class: 'figure-img img-fluid img-thumbnail') %>
          <figcaption class="figure-caption text-xs-right">춘천의 예쁜 카페</figcaption>
        </figure>
      </div>
      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('singapore-haji_rane.jpg', class: 'figure-img img-fluid img-thumbnail') %>
        </figure>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('1.jpg', class: 'figure-img img-fluid img-thumbnail') %>
          <figcaption class="figure-caption text-xs-right">....</figcaption>
        </figure>
      </div>

      <div class="col-lg-4">
        <figure class="figure">
          <%= image_tag('kakao-friends-store.jpg', class: 'figure-img img-fluid img-thumbnail') %>
          <figcaption class="figure-caption text-xs-right">강남역의 카카오프렌즈 플래그십 스토어에서 강남대로를 배경으로</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
