<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="결혼식">
  <meta name="author" content="Benjamin">
  <title>박보영, 김재호의 결혼식</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>
</head>

<body>
<div style="margin-top: 50px;">
  <% unless browser.device.mobile? %>
      <div class="container">
  <% end %>
  <%= render 'shared/navigation_bar' %>
  <p/>
  <%= render 'layouts/messages' %>
  <%= yield %>
  <% unless browser.device.mobile? %>
      </div>
  <% end %>
</div>
</body>
</html>
